/********************************router-link-content*************************************/
.dashboard-page {
  background-color: var(--hr-bg);
}

.dashboard-logo {
  padding: 17px 10px;
}

a.router-link-active.router-link-exact-active.list-group-item.list-group-item-action.list-content {
  color: var(--navy-blue);
  background-color: var(--hr-bg);
  font-weight: 600;
}
a.router-link-active.router-link-exact-active.list-group-item.list-group-item-action.list-content
  svg {
  fill: var(--navy-blue);
}
a.list-content svg {
  transition: all 1s ease;
}
a.list-content svg:hover {
  fill: var(--white);
  transition: all 1s ease;
}
a.list-content:hover {
  color: var(--white);
}

.list-content {
  border: none;
  color: var(--list-color);
  font-size: var(--fs-2);
  padding: 15px 15px;
  font-weight: 500;
  background-color: var(--navy-blue);
  transition: all 1s ease;
}
.list-content svg {
  margin-right: 15px;
}

.vertical-navbar {
  background-color: var(--navy-blue);
  min-height: 100%;
}
.list-content svg {
  fill: var(--icon-color);
}
.logout-button {
  background-color: var(--navy-blue);
}
.logout-button button {
  border-radius: 4px;
  background-color: var(--white);
  font-weight: 300;
  font-size: var(--fs-3);
  color: var(--navy-blue);
  border: 2px solid transparent;
}
.logout-button button:hover {
  background-color: transparent;
  border: 2px solid var(--white);
  color: var(--white);
  cursor: pointer;
}
.navbar-dashboard {
  background-color: var(--navy-blue);
}
/*********footer***********/
.dashboard-footer {
  background: var(--navy-blue);
}
.dashboard-footer p {
  color: var(--white);
  font-size: var(--fs-3);
}
 /*********************accordian**********************/
.btn-expenses{
  padding: 15px 13px;
  font-size: var(--fs-2);
}